html {
  -ms-text-size-adjust: 100%
}

 

.v-application a.link {
  color: unset;
  text-decoration: none;
  transition:  .15s
}

.v-application a.link:hover {
   color: var(--hover);
   opacity: 0.8
}